#winFunc {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#loseFunc {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(217,213,204);
    font-family: 'Fredoka', sans-serif;
}
h1, p, .score-keeper {
    color: rgb(143,122,102)
}
h1 {
    font-size: 75px;
    margin: 0 auto;
}
p {
    font-size: 25px;
}
.score-keeper {
    font-size: 20px;
}
.new-game-button {
    background-color: rgb(143,122,102);
    border-radius: 4px;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
    margin: 5px;
    color: rgb(253,245,200);
}
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
#game-board {
    height: 400px;
    width: 400px;
    border-radius: 7px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(189,174,145);
    border: 6px solid rgb(189,174,145);
}
.squareDivs0, .squareDivs1, .squareDivs2, .squareDivs3 {
    display: flex;
    font-size: 60px;
    text-align: center;
    align-items: center;
    height: 90px;
    width: 90px;
    justify-content: center;
    border: 5px solid rgb(189,174,145);
    color: rgb(253,245,200);
    background-color: rgb(251,253,240);
}