
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: peachpuff;
    border: 2px solid black;
}
#container {
    /* background-color: rgb(176,176,176); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    flex-flow: column;
}
#game-board {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;;
    justify-content: center;
    padding: 35px;
    border: 5px solid rgb(119,110,100);
}

.newDiv1, .newDiv2, .newDiv3, .newDiv4 {
    display: flex;
    font-size: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(119,110,100);
    color: rgb(119,110,100);
    font-family: 'Fredoka', sans-serif;
}
